[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
