{% extends "base.html" %} 

{% block og %}
<meta property="og:title" content="SaveVidsBot - Save videos from Twitter">
<meta property="og:description" content="With SaveVidsBot, save the best Twitter videos">
{% endblock og %}

{% block title %}SaveVidsBot - Modération{% endblock title %} 

{% block content %}
<div class="text-center pb-5">
    <h1>SaveVidsBot - Modération</h1>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == "error" %}
<div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% if category == "sucess" %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<div class="pb-5">
    <p class="lead mb-3"><i>@utilisateur</i> à bannir :</p>
    <form class="d-flex" method="POST">
        <input class="form-control mr-2" minlength="5" maxlength="16" type="search" placeholder="@username" aria-label="Search" id="user_delete" name="user_delete">
        <button class="btn btn-danger" type="submit">Bannir</button>
    </form>
</div>
<div>
    <p class="lead mb-3"><i>ID d'une vidéo</i> à supprimer :</p>
    <form class="d-flex" method="POST">
        <input class="form-control mr-2" type="search" placeholder="id de la video" aria-label="Search" id="video_delete" name="video_delete">
        <button class="btn btn-danger" type="submit">Supprimer</button>
    </form>
</div>
{% endblock content %}