[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
tweepy = "*"
httpx = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
